# Server where rf24hub runs on
rf24hub_hostname=rpi1.fritz.box
# Logfile for rf24hubd
# is limited to 80 characters incl. path
rf24hub_logfile=/var/log/rf24hubd.log
# PID-file for rf24hubd
# is limited to 80 characters incl. path
rf24hub_pidfile=/var/run/rf24hubd.pid
# Verboselevel can set here; defaultvalue is 2
verboselevel=3
# Port on rf24hub for incoming telnet control commands
rf24hub_tcp_port=7001
# Port on rf24hub for incoming udp packages from gateway
rf24hub_udp_port=7002
#
# Settings for the gateway
#
rf24gw_logfile=/var/log/rf24gwd.log
#
rf24gw_pidfile=/var/run/rf24gwd.pid
# Server where MariaDB is running
# is limited to 40 characters incl. domain
db_hostname=rpi1.fritz.box
# Port for MariaDB
db_port=3306
# Schemaname inside MariaDB
# is limited to 20 characters
#db_schema=rf24hub
db_schema=sensorhub
# Databaseuser
# is limited to 20 characters 
db_username=<USER>
# Password for the user for DB
# is limited to 20 characters
db_password=<PASSWORD>
#rf24_* parameters must be the same inside Arduino SW! 
# Radiochannel used by the wireless network
#Valid channels are: x...Y
rf24_channel=10
# Transmissionspeed used by the wireless network
# Valid values are: RF24_250KBPS; RF24_1MBPS, RF24_2MBPS
rf24_speed=RF24_1MBPS
fhem_hostname=rpi1.fritz.box
fhem_port=7072
#
rf24gw_udp_port=7003
